<header class="bg-indigo-500 shadow-md fixed top-0 left-0 z-10 w-full">
    <div class="container mx-auto md:px-20 px-10 pb-2 flex justify-between items-center">
        <div class="page-logo text-white text-2xl py-2">
            <a href="/">Marketplace</a>
        </div>
        <div class="top-nav-buttons text-white">
            <ul class="flex">
                <li><a href="/" class="px-5 py-2 rounded hover:bg-indigo-400 transition-all duration-200"><i class="fas fa-home md:mr-2"></i><span class="md:inline hidden">Trang chủ</span></a></li>
                <li><a href="/" class="px-5 py-2 rounded hover:bg-indigo-400 transition-all duration-200"><i class="fas fa-list-alt md:mr-2"></i><span class="md:inline hidden">Quản lý sản phẩm</span></a></li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto md:px-20 px-10 flex justify-between items-center pb-3 flex-col lg:flex-row">
        <form action="#" class="lg:w-2/3 w-full lg:mb-0 mb-2">
            <input type="search" class="px-4 py-2 outline-none rounded-md w-full shadow-md" placeholder="Tìm kiếm sản phẩm, địa điểm, giá cả, ...">
            <button type="submit" class="hidden">Tìm kiếm</button>
        </form>
        <div class="text-right">
            <button class="text-white rounded px-5 py-2 transition-all duration-200 bg-yellow-400 bold font-semibold shadow-sm hover:bg-white hover:text-yellow-500"><i class="far fa-user mr-2"></i><span>Đăng nhập</span></button>
            <button class="text-white rounded px-5 py-2 transition-all duration-200 bg-yellow-400 bold font-semibold shadow-sm hover:bg-white hover:text-yellow-500"><i class="far fa-plus-square mr-2"></i><span>Đăng tin</span></button>
        </div>
    </div>
</header>