<header class="bg-indigo-500 shadow-md fixed top-0 left-0 z-10 w-full">
    <div class="container mx-auto md:px-20 px-10 pb-2 flex justify-between items-center">
        <div class="page-logo text-white text-2xl py-2">
            <a href="/">Marketplace</a>
        </div>
        <div class="top-nav-buttons text-white">
            <ul class="flex">
                <li><a href="/" class="px-4 py-1 rounded hover:bg-indigo-400 transition-all duration-200 home-top-nav"><i class="fas fa-home md:mr-2"></i><span class="md:inline hidden">Trang chủ</span></a></li>
                <% if (currentUser) { %>
                    <li><a href="/user/profile/<%= currentUser.username %>" class="personal-button px-4 py-1 rounded hover:bg-indigo-400 transition-all duration-200 relative z-10">
                        <i class="personal-button fas fa-list-alt md:mr-2"></i><span class="personal-button md:inline hidden">@<%= currentUser.username %></span></a>
                        <div class="absolute top-12 bg-white rounded py-3 shadow personal-button-dropdown hidden">
                            <ul>
                                <li><a href="/user/profile/<%= currentUser.username %>" class="inline-block w-full px-5 py-2 text-gray-500 hover:bg-gray-100 transition-all duration-200"><i class="fas fa-home mr-2"></i><span>Trang cá nhân</span></a></li>
                                <li><a href="/user/logout" class="inline-block w-full px-5 py-2 text-gray-500 hover:bg-gray-100 transition-all duration-200"><i class="fad fa-sign-out mr-2"></i><span>Đăng xuất</span></a></li>
                            </ul>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="container mx-auto md:px-20 px-10 flex justify-between items-center pb-3 flex-col lg:flex-row">
        <form action="/search" method="GET" class="lg:w-2/3 w-full lg:mb-0 mb-2">
            <input type="search" name="q" class="px-4 py-2 outline-none rounded-md w-full shadow-md" placeholder="Tìm kiếm sản phẩm, địa điểm, giá cả, ...">
            <button type="submit" class="hidden">Tìm kiếm</button>
        </form>
        <div class="text-right">
            <% if (currentUser) { %>
                <a href="/products/create_new" class="text-white rounded px-5 py-2 transition-all duration-200 bg-yellow-400 bold font-semibold shadow-sm hover:bg-white hover:text-yellow-500"><i class="far fa-plus-square mr-2"></i><span>Sản phẩm mới</span></a>
            <% } else { %>
                <a href="/user/login" class="text-white rounded px-5 py-2 transition-all duration-200 bg-yellow-400 bold font-semibold shadow-sm hover:bg-white hover:text-yellow-500"><i class="fad fa-sign-in-alt mr-2"></i><span>Đăng nhập</span></a>
                <a href="/user/register" class="text-white rounded px-5 py-2 transition-all duration-200 bg-yellow-400 bold font-semibold shadow-sm hover:bg-white hover:text-yellow-500"><i class="fad fa-user-plus mr-2"></i><span>Đăng ký</span></a>
            <% } %>
        </div>
    </div>
</header>
<script>
    const homeNav = document.querySelector('.home-top-nav');
    const userNav = document.querySelector('.user-top-nav');

    const pathname = window.location.pathname;
    
    if (pathname === '/') homeNav.classList.add('top-nav-active');
    else if (pathname === `/user/profile/<%- currentUser ? currentUser.username : '' %>`) userNav.classList.add('top-nav-active');
</script>
<% if (currentUser) { %>
    <script>
        const personalButton = document.querySelector('a.personal-button');
        const personalButtonDropdown = document.querySelector('.personal-button-dropdown');

        personalButton.addEventListener('click', e => {
            e.preventDefault();
            personalButtonDropdown.classList.toggle('hidden');
        })

        document.addEventListener('click', e => {
            console.log(e.target.classList);
            if (!e.target.classList.value.includes('personal-button')) personalButtonDropdown.classList.add('hidden');
        })
    </script>
<% } %>