<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/tailwindbuild.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossOrigin="anonymous" />
    <title>Dashboard - Marketplace</title>
</head>
<body class="bg-indigo-50">
    <div class="body-wrapper">
        <header class="bg-gray-800 shadow-md fixed top-0 left-0 z-10 w-full">
            <div class="container mx-auto md:px-20 px-10 flex justify-between items-center">
                <div class="page-logo text-white text-2xl py-2">
                    <a href="/">Marketplace</a>
                </div>
                <div class="top-nav-buttons text-white">
                    <ul class="flex">
                        <li><a href="/" class="px-5 py-2 rounded hover:bg-indigo-400 transition-all duration-200"><i class="fas fa-home md:mr-2"></i><span class="md:inline hidden">Trang chủ</span></a></li>
                        <li><a href="#" class="px-5 py-2 rounded bg-indigo-400 transition-all duration-200 relative z-10"><i class="fad fa-user-circle md:mr-2"></i><span class="md:inline hidden">Dashboard</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="pt-12 flex justify-start h-screen overflow-hidden">
            <section class="scrollbarCus my-w-50px h-screen overflow-auto overflow-x-hidden dashboard-bg-color">
                <div>
                    <h5 class="flex items-center justify-center p-4 text-xl text-gray-400"><i class="far fa-bars"></i></h5>
                </div>
                <ul>
                    <li><a href="/dashboard/products?page=1" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="fal fa-list-ol"></i></a></li>
                    <li><a href="/dashboard/change_password" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="fas fa-lock-alt"></i></a></li>
                    <li><a href="#" class="dashboardLeftNav-active transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="far fa-user-plus"></i></a></li>
                </ul>
            </section>
            <section class="scrollbarCus my-w-244px h-screen overflow-auto overflow-x-hidden dashboard-bg-color">
                <div>
                    <h5 class="flex items-center justify-start text-lg p-3 text-md text-gray-200">Dashboard</h5>
                </div>
                <ul>
                    <li><a href="/dashboard/products?page=1" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Quản lý sản phẩm</a></li>
                    <li><a href="/dashboard/change_password" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Thay đổi mật khẩu</a></li>
                    <li><a href="#" class="dashboardMiddleNav-active transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Cập nhật ảnh đại diện</a></li>
                </ul>
            </section>
            <section class="my-w-remaining overflow-auto overflow-x-hidden px-5">
                <div class="py-5 ">
                    <h2 class="border-l-4 border-indigo-500 pl-3 merriweather text-gray-600 text-xl">Cập nhật ảnh đại diện</h2>
                </div>
                <% if (errorMsg) { %>
                    <div class="mb-5 bg-red-100 text-red-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-red-500 border-t-0 border-r-0 border-l-0">
                        <i class="fad fa-exclamation-triangle text-2xl"></i>
                        <span><%= errorMsg %></span>
                    </div>
                <% } %>
                <% if (successMsg) { %>
                    <div class="mb-5 bg-green-100 text-green-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-green-500 border-t-0 border-r-0 border-l-0">
                        <i class="fad fa-check-circle text-2xl"></i>
                        <span><%= successMsg %></span>
                    </div>
                <% } %>
                <section>
                    <div class="container mx-auto">
                        <div class="w-full py-4 px-5">
                            <div>
                                <form action="/user/profile/<%= currentUser.username %>/profile_image?_method=PATCH" name="formProfileImage" method="POST" enctype="multipart/form-data" class="w-full">
                                    <div class="mb-5">
                                        <label for="image" class="w-full inline-block cursor-pointer outline-none text-md border border-gray-300 py-3 px-4 rounded-md shadow-sm bg-gray-100 hover:bg-white transition-all duration-200 text-gray-700">+ Chọn hình ảnh</label>
                                        <input type="file" id="image" name="image" accept="image/*" hidden />
                                    </div>
                                    <div>
                                        <button type="submit" class="bg-indigo-500 py-2 transition-all duration-200 hover:bg-indigo-600 shadow px-4 text-lg rounded-md w-full text-white my-3">Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </div>
    <script>
        const formProfileImage = document.querySelector('form[name="formProfileImage"]');
        const inputProfileImage = document.querySelector('input[name="image"]');
    
        formProfileImage.addEventListener('submit', e => {
            if (inputProfileImage.files.length === 0) {
                e.preventDefault();
                alert('Vui lòng chọn 01 hình ảnh!');
            }
        })
    </script>
</body>
</html>