<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/tailwindbuild.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossOrigin="anonymous" />
    <title>Dashboard - Marketplace</title>
</head>
<body class="bg-indigo-50">
    <div class="body-wrapper">
        <header class="bg-gray-800 shadow-md fixed top-0 left-0 z-10 w-full">
            <div class="container mx-auto md:px-20 px-10 flex justify-between items-center">
                <div class="page-logo text-white text-2xl py-2">
                    <a href="/">Marketplace</a>
                </div>
                <div class="top-nav-buttons text-white">
                    <ul class="flex">
                        <li><a href="/" class="px-5 py-2 rounded hover:bg-indigo-400 transition-all duration-200"><i class="fas fa-home md:mr-2"></i><span class="md:inline hidden">Trang chủ</span></a></li>
                        <li><a href="#" class="px-5 py-2 rounded bg-indigo-400 transition-all duration-200 relative z-10"><i class="fad fa-user-circle md:mr-2"></i><span class="md:inline hidden">Dashboard</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="pt-12 flex justify-start h-screen overflow-hidden">
            <section class="scrollbarCus my-w-50px h-screen overflow-auto overflow-x-hidden dashboard-bg-color">
                <div>
                    <h5 class="flex items-center justify-center p-4 text-xl text-gray-400"><i class="far fa-bars"></i></h5>
                </div>
                <ul>
                    <li><a href="/dashboard/products?page=1" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="fal fa-list-ol"></i></a></li>
                    <li><a href="#" class="dashboardLeftNav-active transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="fas fa-lock-alt"></i></a></li>
                    <li><a href="/dashboard/avatar_upload" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 text-md py-4 inline-block w-full flex items-center justify-center"><i class="far fa-user-plus"></i></a></li>
                </ul>
            </section>
            <section class="scrollbarCus my-w-244px h-screen overflow-auto overflow-x-hidden dashboard-bg-color">
                <div>
                    <h5 class="flex items-center justify-start text-lg p-3 text-md text-gray-200">Dashboard</h5>
                </div>
                <ul>
                    <li><a href="/dashboard/products?page=1" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Quản lý sản phẩm</a></li>
                    <li><a href="#" class="dashboardMiddleNav-active transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Thay đổi mật khẩu</a></li>
                    <li><a href="/dashboard/avatar_upload" class="transition-all duration-200 hover:bg-gray-900 text-gray-300 py-3 inline-block w-full flex items-center justify-start pl-3">Cập nhật ảnh đại diện</a></li>
                </ul>
            </section>
            <section class="my-w-remaining overflow-auto overflow-x-hidden px-5">
                <div class="py-5 ">
                    <h2 class="border-l-4 border-indigo-500 pl-3 merriweather text-gray-600 text-xl">Thay đổi mật khẩu</h2>
                </div>
                <% if (errorMsg) { %>
                    <div class="mb-5 bg-red-100 text-red-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-red-500 border-t-0 border-r-0 border-l-0">
                        <i class="fad fa-exclamation-triangle text-2xl"></i>
                        <span><%= errorMsg %></span>
                    </div>
                <% } %>
                <% if (successMsg) { %>
                    <div class="mb-5 bg-green-100 text-green-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-green-500 border-t-0 border-r-0 border-l-0">
                        <i class="fad fa-check-circle text-2xl"></i>
                        <span><%= successMsg %></span>
                    </div>
                <% } %>
                <% if (currentUser && currentUser.isGoogle) { %>
                    <div class="flex flex-col justify-center items-center py-5">
                        <i class="fad fa-file-search text-6xl text-gray-400"></i>
                        <span class="py-5 text-gray-500">Xin lỗi, chức năng này không thể thực hiện được đối với tài khoản của bạn</span>
                        <span class="py-3 text-gray-500 flex ">
                            <span class="px-2">Lý do: tài khoản đăng nhập bởi</span>
                            <img src="/images/google_logo.png" width="71px" />
                        </span>
                    </div>
                <% } else { %>
                    <section>
                        <div class="container mx-auto">
                            <div class="w-full py-4 px-5">
                                <div>
                                    <form action="/user/profile/<%= currentUser.username %>/change_password?_method=PATCH" name="formChangePassword" method="POST" enctype="multipart/form-data" class="w-full">
                                        <div class="mb-5">
                                            <label for="currentPassword" class="text-md text-gray-500 my-2 inline-block">Mật khẩu hiện tại</label>
                                            <input type="password" id="currentPassword" name="currentPassword" placeholder="Mật khẩu hiện tại" class="w-full outline-none text-md border border-gray-300 py-3 px-4 rounded-md shadow-sm bg-gray-50 focus:bg-white transition-all duration-200" />
                                        </div>
                                        <div class="mb-5">
                                            <label for="newPassword" class="text-md text-gray-500 my-2 inline-block">Mật khẩu mới</label>
                                            <input type="password" id="newPassword" name="newPassword" placeholder="Mật khẩu mới" class="w-full outline-none text-md border border-gray-300 py-3 px-4 rounded-md shadow-sm bg-gray-50 focus:bg-white transition-all duration-200" />
                                        </div>
                                        <div class="mb-5">
                                            <label for="confirmPassword" class="text-md text-gray-500 my-2 inline-block">Xác nhận mật khẩu mới</label>
                                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu mới" class="w-full outline-none text-md border border-gray-300 py-3 px-4 rounded-md shadow-sm bg-gray-50 focus:bg-white transition-all duration-200" />
                                        </div>
                                        <div>
                                            <button type="submit" class="bg-indigo-500 py-2 transition-all duration-200 hover:bg-indigo-600 shadow px-4 text-lg rounded-md w-full text-white my-3">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                <% } %>
            </section>
        </section>
    </div>
    <% if (currentUser && !currentUser.isGoogle) { %>
        <script>
            const formChangePassword = document.querySelector('form[name="formChangePassword"]');
            const inputCurrentPassword = document.querySelector('input[name="currentPassword"]');
            const inputNewPassword = document.querySelector('input[name="newPassword"]');
            const inputConfirmPassword = document.querySelector('input[name="confirmPassword"]');
        
            formChangePassword.addEventListener('submit', e => {
                if (!inputCurrentPassword.value.trim() || inputCurrentPassword.value.length < 8) {
                    e.preventDefault();
                    alert('Mật khẩu hiện tại có ít nhất 8 ký tự!');
                }
                else if (!inputNewPassword.value.trim() || inputNewPassword.value.length < 8) {
                    e.preventDefault();
                    alert('Mật khẩu mới có ít nhất 8 ký tự');
                }
                else if (!inputConfirmPassword.value.trim() || inputConfirmPassword.value.length < 8) {
                    e.preventDefault();
                    alert('Xác nhận mật khẩu có ít nhất 8 ký tự');
                } 
        
                if (inputNewPassword.value !== inputConfirmPassword.value) {
                    e.preventDefault();
                    alert('Mật khẩu mới và xác nhận mật khẩu mới phải trùng nhau');
                }
            })
        </script>
    <% } %>
</body>
</html>