<!DOCTYPE html>
<html>
  <head>
    <title>Online Shop</title>
    <link rel="stylesheet" href="/stylesheets/tailwindbuild.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossOrigin="anonymous" />
    <script src="/javascripts/jquery-ajaxasyncform.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/starability-fade.min.css" />
  </head>
  <body class="bg-indigo-50">
    <div class="body-wrapper">
      <%- include('../partials/header') %>
      <%- body -%>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>