<% layout('layouts/boilerplate') -%>
<h1>This is FORGOT PASSWORD PAGE</h1>

<div>
    <% if (successMsg) { %>
        <h1><%= successMsg %></h1>
    <% } %>
    <% if (errorMsg) { %>
        <h1><%= errorMsg %></h1>
    <% } %>
</div>

<form action="/user/forgot_password?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <label>
            Your email:
            <input type="text" name="email" placeholder="Email" />
        </label>
    </div>
    <div>
        <button type="submit">Send me an email</button>
    </div>
</form>