<% layout('layouts/boilerplate') -%>

<section class="login-section mt-44 lg:mt-32 animate__animated animate__fadeInUp">
    <div class="container mx-auto md:px-20 px-10 min-h-screen">
        <div class="w-full md:w-96 mx-auto  rounded-lg shadow-sm py-4 px-5 bg-white">
            <h2 class="merriweather text-2xl text-center pt-3 pb-5">Cập nhật mật khẩu mới</h2>
            <% if (errorMsg) { %>
                <div class="mb-5 bg-red-100 text-red-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-red-500 border-t-0 border-r-0 border-l-0">
                    <i class="fad fa-exclamation-triangle text-2xl"></i>
                    <span><%= errorMsg %></span>
                </div>
            <% } %>
            <% if (successMsg) { %>
                <div class="mb-5 bg-green-100 text-green-500 flex flex-col justify-start items-center py-3 px-4 rounded-md border border-b-2 border-green-500 border-t-0 border-r-0 border-l-0">
                    <i class="fad fa-check-circle text-2xl"></i>
                    <span><%= successMsg %></span>
                </div>
            <% } %>
            <div class="mb-5  text-gray-500 flex justify-start items-center py-1  rounded-md">
                <i class="fad fa-info-square mr-2 text-2xl"></i>
                <span>Cập nhật mật khẩu mới cho tài khoản của bạn, lưu ý, mật khẩu dài từ 8 ký tự trở lên!</span>
            </div>
            <div>
                <form action="/user/password_recovery/<%= reset_password_token %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="relative mb-5">
                        <input type="password" id="password" name="password" class="w-full outline-none text-lg border border-gray-300 px-4 py-4 rounded-md shadow-sm input-animate" />
                        <label for="password" class="password-label absolute left-6 top-4 transition-all duration-100 text-lg text-gray-500 input-label cursor-text">Mật khẩu mới</label>
                    </div>
                    <div class="relative mb-5">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="w-full outline-none text-lg border border-gray-300 px-4 py-4 rounded-md shadow-sm input-animate" />
                        <label for="confirmPassword" class="confirmPassword-label absolute left-6 top-4 transition-all duration-100 text-lg text-gray-500 input-label cursor-text">Xác nhận mật khẩu mới</label>
                    </div>
                    <div>
                        <button type="submit" class="bg-indigo-500 py-3 transition-all duration-200 hover:bg-indigo-600 shadow px-4 text-lg rounded-md w-full text-white">Cập nhật mật khẩu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    const passwordInput = document.querySelector('input[name="password"]');
    const passwordLabel = document.querySelector('label.password-label');

    passwordInput.addEventListener('blur', e => {
        if (e.target.value.length) {
            passwordLabel.classList.add('input-top-translate-holding');
        } else {
            passwordLabel.classList.remove('input-top-translate-holding');
        }

    })
    const confirmPasswordInput = document.querySelector('input[name="confirmPassword"]');
    const confirmPasswordLabel = document.querySelector('label.confirmPassword-label');

    confirmPasswordInput.addEventListener('blur', e => {
        if (e.target.value.length) {
            confirmPasswordLabel.classList.add('input-top-translate-holding');
        } else {
            confirmPasswordLabel.classList.remove('input-top-translate-holding');
        }

    })
</script>