<% layout('layouts/boilerplate') -%>
<h1>This is PASSWORD RECOVERY PAGE</h1>

<div>
    <% if (successMsg) { %>
        <h1><%= successMsg %></h1>
    <% } %>
    <% if (errorMsg) { %>
        <h1><%= errorMsg %></h1>
    <% } %>
</div>

<form action="/user/password_recovery/<%= reset_password_token %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div>
        <label>
            New password:
            <input type="password" name="password" placeholder="New password" />
        </label>
    </div>
    <div>
        <label>
            Confirm New Password:
            <input type="password" name="confirmPassword" placeholder="Confirm New Password" />
        </label>
    </div>
    <div>
        <button type="submit">Update new password</button>
    </div>
</form>