<% layout('layouts/boilerplate') -%>
<h1>This is REGISTER SUCCESS PAGE</h1>

<h2>VERIFICATION OF YOUR ACCOUNT</h2>

<div>
    <% if (successMsg) { %>
        <h1><%= successMsg %></h1>
    <% } %>
</div>