<% layout('layouts/boilerplate') -%>

<div class="container mx-auto md:px-20 px-10 mt-32">
    <div class="shadow p-5 rounded-md bg-white mb-4 mt-1">
        <div class="mb-4">
            <h2 class="text-xl font-semibold inline"><i class="far fa-plus-square mr-2 text-lg text-indigo-600 font-light"></i><span class="underline-shadow">Đăng sản phẩm mới</span></h2>
        </div>
        <div>
            <form action="/products/create_new" method="POST" enctype="multipart/form-data" name="createNew">
                <div>
                    <label for="title" class="text-md text-indigo-500">Tên sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <input type="text" id="title" name="title" placeholder="Tên sản phẩm" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" />
                </div>
                <div>
                    <label for="price" class="text-md text-indigo-500">Giá sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <input type="number" id="price" name="price" min="0" step="1000" value="0" placeholder="Giá (VND)" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" />
                </div>
                <div>
                    <label class="text-md text-indigo-500">Mô tả sản phẩm</label>
                </div>
                <div class="pb-5 pt-2">
                    <textarea name="description" hidden></textarea>
                    <div id="editor"></div>
                </div>
                <div>
                    <label class="text-md text-indigo-500">Tỉnh / thành phố</label>
                </div>
                <div class="pb-5 pt-2">
                    <select name="province" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" >
                        <option data-uid="0" value="0">Chọn tỉnh / thành phố</option>
                    </select>
                </div>
                <div>
                    <label class="text-md text-indigo-500">Quận / huyện / thị xã</label>
                </div>
                <div class="pb-5 pt-2">
                    <select name="district" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" >
                        <option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>
                    </select>
                </div>
                <div>
                    <label class="text-md text-indigo-500">Xã / phường / thị trấn</label>
                </div>
                <div class="pb-5 pt-2">
                    <select name="ward" class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500" >
                        <option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>
                    </select>
                </div>   
                <!-- <div>
                    <label for="images" class="text-md text-indigo-500">Hình ảnh sản phẩm</label>
                </div> 
                <div class="pb-5 pt-2">
                    <label class="outline-none px-4 py-3 border border-indigo-300 rounded w-full text-lg text-gray-500 inline-block cursor-pointer">
                        <i class="fad fa-file-upload mr-2 text-blue-500 text-lg"></i>
                        Tải hình ảnh lên (tối đa 4 hình ảnh)
                        <input type="file" id="images" name="images" multiple hidden accept="image/*" />
                    </label>
                    <div class="pt-2">
                        <label class="text-md text-indigo-500 new-img-upload-count">Đã chọn 0 hình ảnh</label>
                    </div>
                    <div class="pt-2 imgs-preview flex justify-start items-center flex-wrap"></div>
                    <script>
                        const newImgCount = document.querySelector('.new-img-upload-count');
                        const imgUpload = document.querySelector('input[name="images"]');
                        const imgsPreview = document.querySelector('.imgs-preview');

                        imgUpload.addEventListener('change', evt => {
                            const files = imgUpload.files;
                            const filesLen = files.length || 0;

                            newImgCount.textContent = `Đã chọn ${filesLen} hình ảnh`;

                            if (files && files.length) {
                                for (const imgItem of files) {
                                    let imgTag = document.createElement('img');
                                    imgTag.src = URL.createObjectURL(imgItem);
                                    imgTag.alt = 'image preview';
                                    imgTag.width = '100';
                                    imgTag.height = '100';
                                    imgTag.classList.add('mr-2');
                                    imgsPreview.appendChild(imgTag);
                                }
                            }
                        })
                    </script>
                </div> -->
                <div class="py-5">
                    <button type="submit" class="mt-2 outline-none px-3 py-2 border bg-green-600 transition-all duration-200 hover:bg-green-500 shadow rounded w-full text-lg text-white ">Đăng sản phẩm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const description = document.querySelector('textarea[name="description"]');
    let editor;
    ClassicEditor
    .create(document.querySelector( '#editor' ), {
        removePlugins: [ 'CKFinder', 'CKFinderUploadAdapter', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed' ],   
    })
    .then(newEditor => {
        editor = newEditor;
        editor.model.document.on('change:data', (evt, data) => {
            description.innerHTML = editor.getData();
        });
    })
    .catch( error => {
    });
</script>

<script>
    const provinceSelect = document.querySelector('select[name="province"]');
    const districtSelect = document.querySelector('select[name="district"]');
    const wardSelect = document.querySelector('select[name="ward"]');

    $.ajax({
        method: 'GET',
        url: 'https://ndkhieu.xyz/provinces_api/v1/get_province',
        success: function(data) {
            if (data.data.length) {
                for (const province of data.data) {
                    let provinceOption = document.createElement('option');
                    provinceOption.value = `${province.province_id}-${province.province_name}`;
                    provinceOption.textContent = province.province_name;

                    provinceSelect.appendChild(provinceOption);
                }
            }
        }
    })

    provinceSelect.addEventListener('change', function(e) {
        if (Number(e.target.value.split('-')[0])) {
            districtSelect.innerHTML = `<option data-uid="0" value="0">Chọn quận / huyện / thị xã</option>`;
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_district?province_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    if (data.data.length) {
                        for (const district of data.data) {
                            let districtOption = document.createElement('option');
                            districtOption.value = `${district.district_id}-${district.district_name}`;
                            districtOption.textContent = district.district_name;

                            districtSelect.appendChild(districtOption);
                        }
                    }
                }
            })
        }
    })

    districtSelect.addEventListener('change', function(e) {
        if (Number(e.target.value.split('-')[0])) {
            wardSelect.innerHTML = `<option data-uid="0" value="0">Chọn xã / phường / thị trấn</option>`;
            $.ajax({
                method: 'GET',
                url: `https://ndkhieu.xyz/provinces_api/v1/get_ward?district_id=${e.target.value.split('-')[0]}`,
                success: function(data) {
                    if (data.data.length) {
                        for (const ward of data.data) {
                            let wardOption = document.createElement('option');
                            wardOption.value = `${ward.ward_id}-${ward.ward_name}`;
                            wardOption.textContent = ward.ward_name;

                            wardSelect.appendChild(wardOption);
                        }
                    }
                }
            })
        }
    })
</script>